<div class = "accessoriesComponentFilter row">
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu1" data-toggle= "dropdown" aria-haspopup = "true"
            aria-expanded="true">
                Product Type <span class = "caret"></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu1">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu2" data-toggle= "dropdown" aria-haspopup = "true" aria-expanded="true">
                Brand <span class = "caret" ></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu2">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu3" data-toggle= "dropdown" aria-haspopup = "true" aria-expanded="true">
                Fashion<span class = "caret"></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu3">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu4" data-toggle= "dropdown" aria-haspopup = "true"
            aria-expanded="true">
                Size<span class = "caret"></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu4">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu5" data-toggle= "dropdown" aria-haspopup = "true"
            aria-expanded="true">
                Color<span class = "caret"></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu5">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
    <div class = "dropdown col-md-2">
        <button class = "btn btn-default dropdown-toggle" type = "button" id = "dropdownMenu6" data-toggle= "dropdown" aria-haspopup = "true"
            aria-expanded="true">
                Price<span class = "caret"></span>
        </button>
        <ul class = "dropdown-menu" aria-labelledby = "dropdownMenu6">
            <li><a href = "#">Action</a></li>
            <li><a href = "">Another Action</a>
            <li><a href = "">Something else here</a></li>
            <li role = "seprator" class = "divider"></li>
            <li><a href ="">Seperated link</a></li>
        </ul>
    </div>
</div>
<style>
    div.accessoriesComponentFilter{width: 100%;margin: 0px !important;}
    div.dropdown button{border: none;padding: 20px; width: 100%; margin: 0px !important; }
    div.col-md-2{padding: 0px !important;}
</style>
<div class = "row">
    
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center'>
        <img class = "new" src = "app/images/newArrivals-2.png"/>
        <div>
            <div class = "text-center newArrivals">Classic Summer wear</div>
            <div class = "text-center">$50</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center'>
        <img class = "new" src = "app/images/newArrivals-1.png"/>
        <div>
            <div class = "text-center newArrivals">Cool Shirt</div>
            <div class = "text-center">$35</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center mobile'>
        <img class = "new" src = "app/images/newArrivals-3.png"/>
        <div>
            <div class = "text-center newArrivals">Nice dress</div>
            <div class = "text-center">$500</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center mobile'>
        <img class = "new" src = "app/images/newArrivals-4.png"/>
        <div>
            <div class = "text-center newArrivals">All occasion fit</div>
            <div class = "text-center">$70</div>
        </div>
    </div>
</div>
<style>
    .newArrivals{font-weight:900; color: black; font-size: large; }
    @media(MAX-WIDTH: 480px){
        .mobile{display: none;}
        img.new{width: 100px; height: 150px;}
    }
</style>