<br>
<div class = "text-center">
    <button data-target = "#allArrivals" class = "btn allArrivals" role = "button" data-toggle = "collapse" aria-expanded = "false"
        aria-controls = "allArrivals">All Arrivals</button>
    <br>
</div>
<div class = "collapse" id = "allArrivals">
    <div class = "row">
        <div class = "col-xs-6">
            <h1>All Arrivals</h1>
        </div>
        <div class = "col-xs-6">
            <h1>All Arrivals</h1>
        </div>
    </div>
</div>
<style>
    button.allArrivals{font-weight:900; color: black; font-size: large; border-top: thin solid grey; border-right: thin solid grey;padding: 5px;}
</style>