<br>
<div class = "text-center">
    <button data-target = "#allArrivals" class = "btn allArrivals" role = "button" data-toggle = "collapse" aria-expanded = "false"
        aria-controls = "allArrivals">All Arrivals <span class = 'caret'></span></button>
    <br>
</div>
<br><br>
<div class = "collapse" id = "allArrivals">
<div class = "row">
    
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center'>
        <img class = "new" src = "app/images/allArrivals-2.png"/>
        <div>
            <div class = "text-center newArrivals">Bohemian print</div>
            <div class = "text-center">$200</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center'>
        <img class = "new" src = "app/images/allArrivals-1.png"/>
        <div>
            <div class = "text-center newArrivals">Blue Summer Jeans</div>
            <div class = "text-center">$500</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center mobile'>
        <img class = "new" src = "app/images/allArrivals-3.png"/>
        <div>
            <div class = "text-center newArrivals">Authum Sweater</div>
            <div class = "text-center">$53</div>
        </div>
    </div>
    <div class = 'col-md-3  col-xs-6 col-sm-6 text-center mobile'>
        <img class = "new" src = "app/images/allArrivals-4.png"/>
        <div>
            <div class = "text-center newArrivals">Casual slim fit combo</div>
            <div class = "text-center">$700</div>
        </div>
    </div>
</div>
</div>
<style>
    button.allArrivals{font-weight:900; color: black; font-size: large; border-top: thin solid grey; border-right: thin solid grey;padding: 5px;}
</style>