<br/><br/>
<div id = "footer" class = "row">
    <div class = "outer col-md-6 row">
        <div class = "col-md-6 row">
            <div class = "col-md-12 text-center"><h3>Quick Links</h3></div>
            <div class = "col-md-12 text-center"><a href="">Store Locator</a></div>
            <div class = "col-md-12 text-center"><a href="">Gift Cards</a></div>
            <div class = "col-md-12 text-center"><a href="">Size guide</a></div>
            <div class = "col-md-12 text-center"><a href="">About us</a></div>
            <div class = "col-md-12 text-center"><a href="">Support</a></div>
        </div>
        <div class = " col-md-6 row">
            <div class = "col-md-12 text-center"><h3>Customer Care</h3></div>
            <div class = "col-md-12 text-center"><a href="">Customer service</a></div>
            <div class = "col-md-12 text-center"><a href="">Track my order</a></div>
            <div class = "col-md-12 text-center"><a href="">Return policy</a></div>
            <div class = "col-md-12 text-center"><a href="">Shipping & delivery</a></div>
            <div class = "col-md-12 text-center"><a href="">Contact us</a></div>
            <div class = "col-md-12 text-center"><a href="">Careers</a></div>
        </div>
    </div>
    <div class = "outer outer-right col-md-6 row">
        <div class = "col-md-6 row">
            <div class = "col-md-12 text-center"><h3>Questions</h3></div>
            <div class = "col-md-12 text-center"><a href="">Message us @facebook: Keysoutsource/facebook.com</a></div>
        </div>
        <div class = "col-md-6 row">
            <div class = "col-md-12 text-center"><h3>Contact Keysoutsource for a Project</h3></div>
            <div class = "col-md-12 text-center"><a href="">+38098348813</a></div>
        </div>
        <div class = "col-md-8 text-center" id = "text">
            This software was created and is currently being managed by Keysoutsource. Feel free to contact us 24/7
        </div>
    </div>
</div>
<footer class = "row footer">
    <div class = "col-md-3 text-center"><a href = "">&copy; 2017, keysoutsource inc.</a></div>
    <div class = "col-md-9 text-center"><a href = "">Contact this company</a></div>
</footer>
<style>
    div#footer{border: 0.1px solid grey; margin: 0px !important; border-left: none; padding: 0px; margin: 0px;}
    div.outer{
        border: none;border-right: thin solid grey; 
        margin: 0px; padding: 0px !important;
    }
    div.outer div a{display: inline-block; padding: 10px; width: 100%; margin: 0px;}
    div.outer div h3{font-weight:900; color: black; font-size: large;}
    div.outer-right{border-bottom: none;}
    div#text{text-decoration: italic;}
    footer div{padding: 20px; font-weight:900; color: black; font-size:small}
    body{border: thin solid black;}
    div.row h3{margin-bottom: 50px;}
    div.row div a{color: black;}
</style>