<br/>
<h2 class = "text-center">New Arrivals</h2>
<br>
<div class = "row">
    
    <div class = 'col-md-3 col-xs-6'>
        <img class = "new" src = "app/images/newArrivals-2.png"/>
        <div>
            <div class = "text-center newArrivals">Classic Summer wear</div>
            <div class = "text-center">$50</div>
        </div>
    </div>
    <div class = 'col-md-3 col-xs-6'>
        <img class = "new" src = "app/images/newArrivals-1.png"/>
        <div>
            <div class = "text-center newArrivals">Cool Shirt</div>
            <div class = "text-center">$35</div>
        </div>
    </div>
    <div class = 'col-md-3  mobile'>
        <img class = "new" src = "app/images/newArrivals-3.png"/>
        <div>
            <div class = "text-center newArrivals">Nice dress</div>
            <div class = "text-center">$500</div>
        </div>
    </div>
    <div class = 'col-md-3 mobile'>
        <img class = "new" src = "app/images/newArrivals-4.png"/>
        <div>
            <div class = "text-center newArrivals">All occasion fit</div>
            <div class = "text-center">$70</div>
        </div>
    </div>
</div>
<style>
    .newArrivals{font-weight:900; color: black; font-size: large; }
    @media(MAX-WIDTH: 480px){
        .mobile{display: none;}
        img.new{width: 100px; height: 150px;}
    }
</style>