<br/>
<h2 class = "text-center">New Arrivals</h2>
<br>
<div class = "row">
    
    <div class = 'col-md-3 col-xs-6'>
        <img class = "newArrivals"src = "app/images/newArrivals-2.png"/>
        <div>
            <div class = "text-center"><h4>Boheasdfadf</h4></div>
            <div class = "text-center">Price</div>
        </div>
    </div>
    <div class = 'col-md-3 col-xs-6'>
        <img class = "newArrivals"src = "app/images/newArrivals-1.png"/>
        <div>
            <div class = "text-center"><h4>Boheasdfadf</h4></div>
            <div class = "text-center">Price</div>
        </div>
    </div>
    <div class = 'col-md-3  mobile'>
        <img  class = "newArrivals"src = "app/images/newArrivals-3.png"/>
        <div>
            <div class = "text-center"><h4>Boheasdfadf</h4></div>
            <div class = "text-center">Price</div>
        </div>
    </div>
    <div class = 'col-md-3 mobile'>
        <img  class = "newArrivals"src = "app/images/newArrivals-4.png"/>
        <div>
            <div class = "text-center"><h4>Boheasdfadf</h4></div>
            <div class = "text-center">Price</div>
        </div>
    </div>
</div>
<style>
    img.newArrivals{width: 100%; border: thin solid black; }
    @media(MAX-WIDTH: 480px){
        .mobile{display: none;}
    }
</style>